---
layout:
---

/* http://getbootstrap.com/components/#navbar-fixed-top */
body {
  padding-top: 77px;
}

/* Prevent footer from getting squished at the bottom. */
footer {
  padding-top:    4%;
  padding-bottom: 4%;
}

{% if site.pygments_theme %}
  {% for theme in site.data.pygments_themes %}
    {% if site.pygments_theme == theme.name %}
pre[class^="highlight"] {
  background-color: {{ theme.background }};
}
    {% endif %}
  {% endfor %}
{% endif %}

/* http://stackoverflow.com/a/22949489/3814202 */
.carousel-control {
  background: none !important;
  filter: none !important;
  progid: none !important;
}

/* http://stackoverflow.com/a/15660723/3814202 */
.carousel-inner > .item > img {
    margin: 0 auto !important;
}

/* Text */
p {
  font-size: medium;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
}

a {
  color: #407bda;
}

a:hover {
  text-decoration: none;
  color: #1f4480;
}

h3 {
  color: #407bda;
  font-weight: normal;
  line-height: 1.5;
  padding-bottom: 0.5rem;
}

h4 {
  padding-top: 1rem;
}

li {
  font-size: medium;
  line-height: 1.5;
  color: #333333;
}

.schedule-title {
  font-weight: 300;
}

.description-text {
  font-size: small;
}

/*
blockquote {
  border-left-color: #F9EEB6;
}
*/

/* Panel */
.panel-cds {
  border-color: #eaeef5;
  border-width: thin;
}

.panel-heading {
  background-color: #eaeef5;
}

.panel-title {
  padding: 0.5rem 0rem;
  font-size: small;
  color: #1f4480;
}

/* Table */
.table-responsive table tr td {
  vertical-align: middle;
}

.table-responsive table tr th {
  vertical-align: middle;
}

/* Misc Components */
.slide-image {
  border: 0.1rem solid #ddd; /* Gray border */
  border-radius: 0.4rem;  /* Rounded border */
  padding: 0.5rem; /* Some padding */
  width: 11rem; /* Set a small width */
}
/* Add a hover effect (blue shadow) */
.slide-image:hover {
  box-shadow: 0 0 0.2rem 0.1rem rgba(0, 140, 186, 0.5);
}

.btn-cds {
  border-color: #407bda;
  border-width: 10;
  /*width: 60%;*/
  margin: 0.2rem;
}

.btn-cds:hover {
  color: #1f4480;
  border-color: #1f4480;
}

.navbar-logo {
  width: 2.2rem;
  height: 2.1rem;
  opacity: 0.75;
}

.jumbotron {
  background-color: #f2f7ff;
  font-family: Arial, Helvetica, sans-serif;
}
