<div class="panel-group">
  <div class="panel panel-cds">
    {% for semester in site.data.archives_order %}
    {% assign archive = site.data.archives[semester] %}
    <div class="panel-heading">
      <h5 class="panel-title"><a data-toggle="collapse" href="#{{ semester }}">
        {{ archive.title }}
      </a></h5>
    </div>
    <div id="{{ semester }}" class="panel-collapse collapse">
      <div class="panel-body">
        {% include core/schedule.html schedule=archive %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
