<footer>
  <hr>
  <div class="pull-left">
    <div class="footer-link">
      <a href="https://cornelldata.science/" target="_blank" rel="noopener noreferrer">Cornell Data Science</a>
    </div>
  </div>
  <div class="pull-right">
    &copy;
    <script type="text/javascript">
      var today = new Date()
      var year = today.getFullYear()
      document.write(year)
    </script>
    <a href="https://JunyoungLim.github.io/" target="_blank" rel="noopener noreferrer">Jared Junyoung Lim</a>, Cornell Data Science
  </div>
</footer>
