{% if page.mainpage %}
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="media-heading">{{ site.title }}</h1>
        <h2>{{ site.description }}</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr />
      <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
        <p>
          Course Manager: <a href="mailto:db823@cornell.edu?subject=[INFO 1998]">Deniz B&ouml;l&ouml;ni-Turgut</a><br />
          Course Email: <a href="mailto:cds.info1998@gmail.com?subject=[INFO 1998]">Gmail</a> <br />
          Lecture: Wednesdays 4:30-5:30 PM, Hollister B14 <br />
          Discussion:
          <a href="https://edstem.org/us/join/VmFC2G" target="_blank" rel="noopener">
            ED
            Discussion
          </a>
          <br />

          Grades:
          <a href="https://cmsx.cs.cornell.edu/" target="_blank" rel="noopener">
            CMS
          </a>
          <br />
          Lecturers: Deniz B&ouml;l&ouml;ni-Turgut, Jake Silver, Audrey Wang, Mericel Tao, Srivatsa Kundurthy
        </p>

      </div>

      <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
        <p>
          <!-- Emily restructured this to use a table, to add a new entry just copy the structure already present-->
          Office Hours
          <br>
        <table style="width:100%">
          <colgroup>
            <col span="1" style="width: 37%;">
            <col span="1" style="width: 38%;">
            <col span="1" style="width: 25%;">
          </colgroup>
          Office hours will start after the first class!
          <tr style="border-bottom:4px solid black">
            <td>TA</td>
            <td>Date and Time</td>
            <td>Location</td>
          </tr>
          <tr style="border-bottom:0.5px solid lightgray; border-top:0.5px solid lightgrey">
            <td>Cade Jin</td>
            <td>Mon 10am-11am</td>
            <td>Hollister 314</td>
          </tr>
          <tr style="border-bottom:0.5px solid lightgray">
            <td>Dan Wei Zuo</td>
            <td>Mon 1pm-2pm</td>
            <td>Hollister 368</td>
          </tr>
          <tr style="border-bottom:0.5px solid lightgray">
            <td>Srivatsa Kundurthy</td>
            <td>Tue 3:30pm-4:30pm</td>
            <td><a href="https://us04web.zoom.us/j/2369280698?pwd=REFCTGlsY2NXcHFONzBDd0tmMk01dz09" target="_blank"
                rel="noopener">Zoom</a></td>
          </tr>
          <tr style="border-bottom:0.5px solid lightgray">
            <td>Jake Silver</td>
            <td>Wed 1pm-2pm</td>
            <td>Hollister 372</td>
          </tr>
          <tr style="border-bottom:0.5px solid lightgray">
            <td>Mericel Tao</td>
            <td>Thu 12pm-1pm</td>
            <td><a href="https://cornell.zoom.us/j/99092920912?pwd=VmQ2anNVaG5uZ01SS29UOEQxb01KZz09" target="_blank"
                rel="noopener">Zoom</a></td>
          </tr>
          <tr style="border-bottom:0.5px solid lightgray">
            <td>Theo Jeliazkov</td>
            <td>Thu 3pm-4pm</td>
            <td>Hollister 320</td>
          </tr>
          <tr style="border-bottom:0.5px solid lightgray">
            <td>Deniz B&ouml;l&ouml;ni-Turgut</td>
            <td>Fri 2:30pm-3:30pm</td>
            <td>Phillips 307</td>
          </tr>
          <tr>
            <!-- <td colspan = 3, style="padding-top:10px;">Zoom office hours will be in person once we can book rooms!</td> -->
          </tr>
        </table>
        </p>


      </div>

    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <h1 class="media-heading">{{ page.title }}</h1>
    <hr>
  </div>
</div><!-- /container -->
{% endif %}