{% if page.mainpage %}
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="media-heading">{{ site.title }}</h1>
        <h2>{{ site.description }}</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr />
      <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
        <p>
          Course Manager: <a href="mailto:lyk25@cornell.edu?subject=[INFO 1998]">Laerdon Kim</a><br />
          Faculty Advisor: <a href="mailto:kizilcec@cornell.edu?subject=[INFO 1998]">Rene Kizilcec</a><br />
          Course Email: <a href="mailto:lyk25@cornell.edu?subject=[INFO 1998]">Email Laerdon</a><br />
          Lecture: Day, time, and room to be announced<br />
          Discussion: Fall 2026 Ed Discussion link coming soon<br />
          Grades: <a href="https://cmsx.cs.cornell.edu/" target="_blank" rel="noopener">CMSx</a><br />
          Lecturers: To be announced
        </p>

      </div>

      <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
        <p>
          Office Hours<br />
          Office hours will be announced after the first class.
        </p>
      </div>

    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <h1 class="media-heading">{{ page.title }}</h1>
    <hr>
  </div>
</div><!-- /container -->
{% endif %}
