{% if page.mainpage %}
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="media-heading">{{ site.title }}</h1>
        <h2>{{ site.description }}</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr />
      <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
        <p>
          Course Manager: <a href="mailto:sec322@cornell.edu?subject=[INFO 1998]">Sam Cobado</a><br />
          Location: Hosted on Zoom starting February 24. <br />
          Zoom Meeting ID: <a href="https://cornell.zoom.us/j/97411101086?pwd=Z0JBR25tTGNrakhDL016TnBWdEllUT09"> 974
            1110 1086</a><br />
          Lecture: Wed 4:30 - 5:30 PM EST<br />
          Discussion: <a href="https://edstem.org/us/courses/4760/discussion/276710" target="_blank" rel="noopener">ED
            Discussion</a><br />
          Grades: <a href="https://cmsx.cs.cornell.edu/" target="_blank" rel="noopener">CMS</a><br />
          Lecturer: <a href="mailto:sec322@cornell.edu?subject=[INFO 1998]">Sam Cobado</a>,
          <a href="mailto:dt439@cornell.edu?subject=[INFO 1998]">Dylan Tsai</a>,
          <a href="mailto:js2746@cornell.edu?subject=[INFO 1998]">Jerry Sun</a>,
        </p>
      </div>
      <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
        <p>
          Office Hours: <br />
          <a href="">
            Dylan Tsai TBD</a><br />
          <a href="">
            Emily Weed TBD</a><br />
          <a href="">
            Jerry Sun TBD</a><br />
          <a href="">
            Sam Cobado TBD</a><br />
          <a href="">
            Raye Liu TBD</a><br />
          <a href="">
            Kevin Jiang TBD</a><br />

          <!-- <b>Show up on February 12th to Enroll!</b><br/>
       <b>Fill out the <a href=" https://tiny.cc/info1998_sp20">Google Form</a> by February 14th</b>.-->
          <!-- <ul>
          <li>Mon: 2:30 - 3:30 PM (Rhodes 503)</li>
          <li>Tue: 1:15 - 2:15 PM (Rhodes 405), 3 - 4 PM (Rhodes 503)</li>
          <li>Wed: 2 - 3 PM (Rhodes 412)</li>
          <li>Thu: 3:30 - 4:30 PM (Rhodes 503)</li>
        </ul> -->
        </p>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <h1 class="media-heading">{{ page.title }}</h1>
    <hr>
  </div>
</div><!-- /container -->
{% endif %}